<header>
  <div class="headerTop">
    <h1 class="h1" style="margin:0;">かもねぎ通信</h1>

    <div class="iconRow" aria-hidden="true">
      <img src={`${import.meta.env.BASE_URL}images/deco/sun1.jpg`} alt="" />
      <img src={`${import.meta.env.BASE_URL}images/deco/moon.jpg`} alt="" />
      <img src={`${import.meta.env.BASE_URL}images/deco/star.jpg`} alt="" />
      <img src={`${import.meta.env.BASE_URL}images/deco/negi1.jpg`} alt="" />
      <img src={`${import.meta.env.BASE_URL}images/deco/neco1.jpg`} alt="" />
      <img src={`${import.meta.env.BASE_URL}images/deco/kamonegi.jpg`} alt="" />
    </div>
  </div>

  <div class="small">個人しんぶん・研究ノート・せいかつ誌</div>
</header>
